
<div id="all_mail_search-area" class="all_mail_search-area container" ></div>
<div class="container" style="position:relative;left:110px;top:-370px;background-color:#ECF0F1; ">
<table id="AllMailTable" class="display nowrap" cellspacing="0" style="cursor:pointer;table-layout: fixed;">
  <thead>
    <tr>
     
      <th>From</th>
      <th>Mail</th>
      <th>Date</th>
     </tr>
  </thead>

  <tbody>
    <% @receive_mails.each do |receive_mail| %>
    
       <tr data-link="<%= receivemail_show_path("id" => receive_mail.id) %>" >

          <td><%= receive_mail.from%></td>
          <td style="overflow:hidden;"><strong><%= receive_mail.sub %></strong>&nbsp;&nbsp;&nbsp;<%= receive_mail.parsed_plain_body %></td>

          <td><%= receive_mail.date.strftime("%e %b, %Y")%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>


<style type="text/css">
  .all_mail_search-area {
   width: 100%;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    position:relative;
    left:200px;
    top:-450px;  
}

.all_mail_search-area input{
  width: 600px;
    font-size: 20px;
    padding: 5px;  
}
</style>

<script type="text/javascript">
  $(document).ready(function() {
      $('#AllMailTable').dataTable( {
          initComplete : function() {
           $("#AllMailTable_filter").detach().appendTo('#all_mail_search-area');
             },  
           "columnDefs": [
                          { "width": "60px", "targets": 0 },
                          { "width": "550px", "targets": 1 },
                          { "width": "30px", "targets": 2 }
                         ],          
      } );
  } );
           jQuery(function($) {
          $("tr[data-link]").click(function() {
          window.location = $(this).data('link');
         // window.location = this.dataset.link
      });

  });
</script>