
<div id="receivemail_search-area" class ="receivemail_search-area container"></div>

<div class="container" style="position:relative;left:110px;top:-400px;background-color:#ECF0F1; ">
<p align="center" id="notice"><%= notice %></p>
<table id="receivemailTable" class="display nowrap" cellspacing="0" style="cursor:pointer;table-layout: fixed;">
  <thead>
    <tr>
      <th><div><button class="delete_receivemail">
      <i class="glyphicon glyphicon-trash"></i></button></div></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @receive_mails.each do |receive_mail| %>
        <% if receive_mail.read_unread_check == true %>
           <tr  id= "<%= receive_mail.id%>", class="selected" >
            
               <td id ="delete_receive"><%= check_box_tag 'receive_mail[]' , receive_mail.id,false, class: 'receive_delete' %></td> 
<!-- Link Starred -->
           <td> 
              <% if receive_mail.star_check==2 %>
                 <%=link_to receivemail_star_path("id" => receive_mail.id), data: {  }, class: "btn btn-default btn-xs" do%>
                  <i class="glyphicon glyphicon-star"></i>  
              <%end%>

              <%else%>
                  <%=link_to receivemail_star_path("id" => receive_mail.id), data: {  }, class: "btn btn-default btn-xs" do%>
                  <i class="glyphicon glyphicon-star-empty"></i>
              <%end%>
          <%end%>
                </td> 
<!--  -->
               <td data-link="<%= receivemail_show_path("id" => receive_mail.id) %>"><%= receive_mail.from%></td>

               <td style="overflow:hidden;" data-link="<%= receivemail_show_path("id" => receive_mail.id) %>"><strong><%= receive_mail.sub %></strong>&nbsp;&nbsp;&nbsp;<%= receive_mail.parsed_plain_body %></td>
            
              <td data-link="<%= receivemail_show_path("id" => receive_mail.id) %>"><%= receive_mail.date.strftime("%e %b, %Y")%></td>
          </tr>
          <%else%>
<!--  -->
          <tr id="<%= receive_mail.id%>" >
              
                <td id ="delete"><%= check_box_tag 'receive_mail[]' , receive_mail.id,false, class: 'receive_delete' %></td> 
               <td> 

            <% if receive_mail.star_check==2 %>
                 <%=link_to receivemail_star_path("id" => receive_mail.id), data: {  }, class: "btn btn-default btn-xs" do%>
                  <i class="glyphicon glyphicon-star"></i>  
              <%end%>
              <%else%>
                  <%=link_to receivemail_star_path("id" => receive_mail.id), data: {  }, class: "btn btn-default btn-xs" do%>
                  <i class="glyphicon glyphicon-star-empty"></i>
              <%end%>
             <%end%>
                </td> 
              

               <td data-link="<%= receivemail_show_path("id" => receive_mail.id) %>"><%= receive_mail.from%></td>
               <td data-link="<%= receivemail_show_path("id" => receive_mail.id) %>" style="overflow:hidden;"><strong><%= receive_mail.sub %>
               </strong>&nbsp;&nbsp;&nbsp;<%= receive_mail.parsed_plain_body %></td>
               <td data-link="<%= receivemail_show_path("id" => receive_mail.id) %>"><%= receive_mail.date.strftime("%e %b, %Y")%></td>
          </tr>
        <% end %>
    <% end %>
  </tbody>
</table>
</div>
<br>

<style>

.glyphicon-star {
    color: #FFF000;
}
</style>


<script type="text/javascript">
// ------------------------dataTable------------------------------------//
$(document).ready(function() {
    $('#receivemailTable').dataTable( {
        initComplete : function() {
          $("#receivemailTable_filter").detach().appendTo('#receivemail_search-area');
           },  
         "columnDefs": 
         [
      { "width": "5px", "targets": 0 },
      { "width": "10px", "targets": 1 },
      { "width": "50px", "targets": 2 },
      { "width": "500px", "targets":3 },
      { "width": "50px", "targets": 4}
       ],
      "bSort" : false
    } );
} );

// ------------------------------Read/Unread---------------------------//
$(document).ready(function() {

       $('#receivemailTable tbody').on( 'click', 'tr', function () {

          var desired_id = $(this).prop('id');
        
          $.getScript('/receivemail/read.js?pt='+ desired_id);        
     } );
        
} );

//-------------------------Multi Delete----------------------------------//

$(".delete_receivemail").hide();
$(".receive_delete").click(function() {

  var captured_id=$(this).prop('value');    
//alert(captured_id);
      
    if($('.receive_delete').is(":checked")) {
        $(".delete_receivemail").show();

    } else {
        $(".delete_receivemail").hide();
    }
});


$(".delete_receivemail").click(function() {

var id_list = [];
//alert(id_list);
$.each($("input[name='receive_mail[]']:checked"), function(){            
  id_list.push($(this).val());
});
alert(id_list);

var x=confirm("Are you sure you want to delete?");
if (x)
       $.getScript('/receivemail/delete.js?pt='+ id_list);
     
  else
return false;
location.reload();
});

//-----------------------------------//
jQuery(function($) {
    $("td[data-link]").click(function() {

        window.location = $(this).data('link');    
    });
}); 

</script>