
<div style="position:relative;left:250px;top:-250px;width:1000px;`">
<p>
  <strong><%= @receive_mails.sub %></strong>
</p>
<hr>
<p>
  <strong>from:</strong>
  <%= @receive_mails.from %>
</p>

<p>
  <strong>date:</strong>
  <%= @receive_mails.date %>
</p>
<hr>
<p>
 <div id="body_html"> 
   <%= raw @receive_mails.parsed_html_body %>
  </div>
</p>

<hr>
  <div id="receivemail_reply" style="background-color:#ECF0F1; position:absolute; width:1000px;">
     <p>
      click here to 
       <a href="javascript:void(0)" id="receive_reply_link">Reply</a>or
       <a href="javascript:void(0)" id="receive_forward_link">Forward</a>
     </p>
  </div>
<hr>
<script >
$("#receive_reply_link").click(function(){
  alert(gon.from_mail);
$("#receivemail_reply").html("<%= escape_javascript(render 'reply') %>");
$("#to").val(gon.from_mail);
});

$("#receive_forward_link").click(function(){
//alert("hi....")
$("#receivemail_reply").html("<%= escape_javascript(render 'reply') %>");
$("#body").val(gon.html_text);
});
</script>