<p id="notice"><%= notice %></p>
<div id="trash_mail_search-area" class="container"></div>
<div class="container" style="position:relative;left:110px;top:-370px;background-color:#ECF0F1; ">
<table id="trash_Mail_Table" class="display nowrap" cellspacing="0" style="cursor:pointer;table-layout: fixed;">
  <thead>
    <tr>
      <th>From</th>
      <th>Mail</th>
      <th>Date</th>
    </tr>
  </thead>

  <tbody>
     <% @receive_mails.each do |receive_mail| %>
    
       <tr data-link="<%= receivemail_show_path("id" => receive_mail.id) %>" >

          <td><%= receive_mail.from%></td>
          <td style="overflow:hidden;">
             <strong><%= receive_mail.sub %></strong>&nbsp;&nbsp;&nbsp;<%= receive_mail.parsed_plain_body %>
          </td>
          <td><%= receive_mail.date.strftime("%e %b, %Y")%></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>


<script type="text/javascript">
$(document).ready(function() {
    $('#trash_Mail_Table').dataTable( {
        initComplete : function() {
         $("#trash_Mail_Table_filter").detach().appendTo('#trash_mail_search-area');
           },  
         "columnDefs": [
                        { "width": "60px", "targets": 0 },
                        { "width": "550px", "targets": 1 },
                        { "width": "30px", "targets": 2 }
                       
                ]
         } );
} );
         jQuery(function($) {
        $("tr[data-link]").click(function() {
        window.location = $(this).data('link');
       // window.location = this.dataset.link
    });

});
</script>