
<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
   
  <% end %>

<div>
    <%= f.label :Name %><br>
    <%= f.text_field :name %>
</div>
<div>
   <%= f.label :Mail %><br>
    <%= f.text_field :mail_id %>
    </div>
<div>
    <%= f.label :Contactno %><br>
    <%= f.text_field :contact_no %>
</div>
<div>
    <%= f.label :DOB %><br>
    <%= f.text_field :dob %>
</div>
<div>
    <%= f.label :Gender %><br>
    <%= f.text_field :gender%>
</div>
<div>
    <%= f.label :Location %><br>
    <%= f.text_field :location %> 
    </div>
<div class="actions">
    <%= f.submit %>
  </div>
<% end %>


