<div class="container" style="position:relative;left:110px;top:-370px;background-color:#ECF0F1; ">
<h1>Editing Contact</h1>

<%= render 'form' %>

<%= link_to 'Show', @contact %> |
<%= link_to 'Back', contacts_path %>
</div>