<div class="container" style="position:relative;left:110px;top:-300px;background-color:#ECF0F1; ">
<p id="notice"><%= notice %></p>

<h3>Listing Mail</h3>

<table id="contact_List_Table">
  <thead>
    <tr>
    <th>Name</th>
    <th>Mail</th>
    <th>contact No.</th>
    <th>Date Of Birth</th>
    <th>Gender</th>
    <th>Location</th>
    <th ></th>
    <th></th>
    
    </tr>
  </thead>

  <tbody>
    <% @all_contacts.each do |contact| %>
      <tr>
      <td><%= contact.name %></td>
      <td><%= contact.mail_id %></td>
      <td><%= contact.contact_no %></td>
      <td><%= contact.dob %></td>
      <td><%= contact.gender %></td>
      <td><%= contact.location %></td>
      <td><%= link_to 'Edit', edit_contact_path(contact) %></td>
      <td><%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button><%= link_to 'New Contact', new_contact_path %></button>
</div>



<script type="text/javascript">
  $(document).ready(function() {
    $('#contact_List_Table').dataTable( {
        
} );
  });
</script>