<div class="container" style="position:relative;left:110px;top:-370px;background-color:#ECF0F1; ">
<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @contact.name %>
</p>
<p>
  <strong>Mail Id:</strong>
  <%= @contact.mail_id %>
</p>
<p>
  <strong>Contact Number:</strong>
  <%= @contact.contact_no %>
</p>
<p>
  <strong>Gender:</strong>
  <%= @contact.gender %>
</p>
<p>
  <strong>Location:</strong>
  <%= @contact.location%>
</p>

<%= link_to 'Edit', edit_contact_path(@contact) %> |
<%= link_to 'Back', contacts_path %>
</div>