
<%= tinymce_assets %>
<%= tinymce %>

<%= form_tag({:action => :create}, :multipart => true) do %>
       <br>
        <div class="form-group">
          <div class="col-xs-1"> <%= label_tag :"To:" %></div>
          <div class="col-sm-9">
         <%= text_field_tag :to , "", class:'form-control', placeholder: "Recipients",id:'contacts_field' %>
          <div>
           <a href="javascript:void(0)" id="cc">cc</a>
           <a href="javascript:void(0)" id="bcc">Bcc</a>
          </div>
         </div>
        </div>
       <br>
          <div class="form-group" id="cc_div_id" style="display: none">
             <div class="col-xs-1"> <%= label_tag :"cc:" %></div>
             <div class="col-sm-9"><%= text_field_tag :cc, "", class:'form-control', placeholder: "Recipients" %></div>
          </div>
       <br>

       
          <div class="form-group" id="bcc_div" style="display: none">
             <div class="col-xs-1"> <%= label_tag :"Bcc:" %></div>
             <div class="col-sm-9"><%= text_field_tag :bcc, "", class:'form-control', placeholder: "Recipients" %></div>
          </div>
       <br>

        <div class="form-group">
          <div class="col-xs-1">  <%= label_tag :"Subject:" %></div>
           <div class="col-sm-9"><%= text_field_tag :sub, "", class:'form-control', placeholder: "Subject" %></div>
        </div>
       <br>
       
         <div class="form-group">
           <div class="col-xs-1">  <%= label_tag :"  " %></div>
            <div class="col-sm-9"><%= text_area_tag :body, "", cols:300,rows:9,class:'tinymce form-control' %></div>
         </div>
        <br>
           <div class="form-group">
              <div class="col-xs-3"> <%= label_tag :"Attachment:" %></div>
              <div class="col-sm-9"> <%= file_field_tag :image  %></div>
             <!--  <%= file_field_tag 'picture' %> -->
           </div>
      <br>
       <br>
          <div class="form-group">
              <div class="col-xs-3"><%= submit_tag :Send, :class =>"btn btn-primary" %></div>
           </div>
            <div class="form-group">
              <div class="col-xs-3"><%= button_tag :Cancel, :class =>"btn btn-primary" %></div>
           </div>
        <% end %>




<script type="text/javascript">



tinyMCE.init({
    selector: 'textarea.editor'
  });
 
 $("#cc").click(function(){
   $("#cc_div_id").show();
 
  //$("#cc_div_id").append();
   
   $("#cc").hide();
  });

$("#bcc").click(function(){
   $("#bcc_div").show();
   $("#bcc").hide();
  });


</script>