<%= tinymce_assets %>
<%= tinymce %>

<div class="container" style="position:relative;left:110px;top:-320px;background-color:#ECF0F1; width:300; ">
   <h3><center>Send New Mail</center></h3>
   
    <div id="compose_mail_area" >
     <%= form_tag({:action => :create}, :multipart => true) do %>
        
        <% if @sentmail.errors.any? %>
          <div class="error_messages">
            <h2>Form is invalid</h2>
            <ul>
              <% for message in @sentmail.errors.full_messages %>
                <li><%= message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
       <br>
       <br>
        <div class="form-group">
          <div class="col-xs-1"> <%= label_tag :"To:" %></div>
          <div class="col-sm-8 " ><%=  text_field_tag :"to", '',class:'form-control draggable', placeholder: "Recipients" %>
           <span>
         
           <a href="javascript:void(0)" id="cc">cc</a>
           <a href="javascript:void(0)" id="bcc">Bcc</a>
          </span>
         </div>
        </div>
       <br>
       
       
       <div class="form-group" id="cc_div_id" style="display: none">
         <div class="col-xs-1"> <%= label_tag :"CC:" %> </div>
         <div class="col-sm-8" id="droppable">  <%= text_field_tag :cc,"",class:'form-control', placeholder: "Recipients" %></div>
       </div>

       <br>
          <div class="form-group" id="bcc_div" style="display: none">
             <div class="col-xs-1"> <%= label_tag :"Bcc:" %></div>
             <div class="col-sm-8" id="droppable"><%= text_field_tag :bcc, "", class:'form-control', placeholder: "Recipients" %></div>
          </div>
       <br>

        <div class="form-group">
          <div class="col-xs-1">  <%= label_tag :"Subject:" %></div>
           <div class="col-sm-8"><%= text_field_tag :sub, "", class:'form-control', placeholder: "Subject" %></div>
        </div>
       <br>
       
         <div class="form-group">
           <div class="col-xs-1">  <%= label_tag :"  " %></div>
            <div class="col-sm-9"><%= text_area_tag :body, "", cols:300,rows:9,class:'tinymce form-control' %></div>
         </div>
        <br>
        
           <div class="form-group">
              <div class="col-xs-3"> <%= label_tag :"Attachment:" %></div>
              <div class="col-sm-8"> <%= file_field_tag :image  %></div>
             <!--  <%= file_field_tag 'picture' %> -->
           </div>
       <br>
       
          <div class="form-group">
              <div class="col-xs-3"><%= submit_tag :Send, :class =>"btn btn-primary" %></div>
           </div>
        <% end %>
 </div>

</div>
<script type="text/javascript">

tinyMCE.init({
    selector: 'textarea.editor'
  });
 
 $("#cc").click(function(){
   $("#cc_div_id").show();
 
  //$("#cc_div_id").append();
   
   $("#cc").hide();
  });

$("#bcc").click(function(){
   $("#bcc_div").show();
   $("#bcc").hide();
  });

//----------------------------Start Draggable & Dropable---------------// 
$(function() {
    $(".draggable").draggable({
        revert: true,
        helper: 'clone',
        start: function(event, ui) {
            $(this).fadeTo('fast', 0.5);
        },
        stop: function(event, ui) {
            $(this).fadeTo(0, 1);
        }
    });
    
    $("#droppable").droppable({
        hoverClass: 'active',
        drop: function(event, ui) {
            this.value = $(ui.draggable).text();
        }
    });
});

//------------------------ End Of Draggable & Dropable----------------------//



  // $(document).ready(function () {
  //   $("#to").keyup(function () {

  //     var box = document.getElementById("to");
  //     document.getElementById("abc").innerHTML = box.value;
  //     $.getScript('/sentmails/autocomplete.js?pt=' + encodeURIComponent(box.value))
  //   });
  // });

</script>
