
<!-- <script type="text/javascript">

// jQuery(function($) {

//     $("tr[data-link]").click(function() {
//         window.location = $(this).data('link');
//             if ($(this).index() == 5 ) { 
//                return;
//           }
//        // window.location = this.dataset.link
//     });
// }); 
$("#sentmailTable tbody").on('click', 'td', function () {

         //  if ($(this).index() == 5 ) { // provide index of your column in which you prevent row click here is column of 4 index
         //      return;
         // }
         alert("hi......")

            // you can do additional functionality by clicking on this column here                         
    });

$(' tbody').on( 'click', 'td', function () { 
  var idx = table.cell(this).index().column;
  var ColumnHeader = table.column(idx).header();
  var FirstColumnValue = Noclue;
  location.href = "Page.cshtml?ID=" + ColumnHeader + "Name=" + FirstColumnValue;
});


$("#sentmailTable").on("click", "td:nth-child(2)", function(e) {
    $(this).prev().html();  //Get the previous sibling's HTML without inline JS
});

$('#sentmailTable tr').find('td:fifth').on('click', function (e) {
  alert("hi......");
  window.location = $(this).data('link');
   window.location.href = $(this).data('url');
 e.preventDefault();
 e.stopPropagation();
});
</script> -->


<div class="container" id="new-search-area" ></div>

  <div class="container" style="position:relative;left:110px;top:-400px;background-color:#ECF0F1; ">
<div>
<button class="delete_link"> 
    
    <i class="glyphicon glyphicon-trash"></i> </button>
</div>
  
  <table id="sentmailTable" class="display nowrap" cellspacing="0" style="cursor:pointer;table-layout: fixed;">
  <thead> 

    <tr>
      <th><%= check_box_tag id ="selectall"%></th> 
      <th></th>
      <th></th>
      <th></th>
      <th></th>
     </tr>
  </thead>  

  <tbody>
    <% @sentmails.each do |sentmail| %>
      <tr >
        <td id ="delete"><%= check_box_tag 'sentmail[]' , sentmail.id,false, class: 'starry' %></td> 

        <td>
        <% if sentmail.star_check==2 %>
         <i class="active clickable">
           <%=link_to sentmails_star_path("id" => sentmail.id), data: {  }, class: "btn btn-default btn-xs" do%>
          <i class="glyphicon glyphicon-star"></i>
       <% end %>
       </i>
       <% else %>
        <i class="active clickable">
            <%=link_to sentmails_star_path("id" => sentmail.id), data: {  }, class: "btn btn-default btn-xs" do%>
         <i class="glyphicon glyphicon-star-empty"></i>
       <% end %>
       </i>
       <% end %>
       </td>

        <td style="overflow: hidden;" data-link="<%= sentmails_show_path("id" => sentmail.id) %>" >To:<%= sentmail.to %></td>
        <td style="overflow: hidden;" data-link="<%= sentmails_show_path("id" => sentmail.id) %>">
            <strong><%= sentmail.sub  %></strong>&nbsp;<%= sentmail.body_text %>
        </td>

      <%if sentmail.created_at > Date.today %> 
       <td style="overflow: hidden;" data-link="<%= sentmails_show_path("id" => sentmail.id) %>"><%= sentmail.created_at.in_time_zone.strftime("%I: %m %p")%></td>
       <%else%>
       <td style="overflow: hidden;" data-link="<%= sentmails_show_path("id" => sentmail.id) %>"><%= sentmail.created_at.in_time_zone.strftime("%e %b,%Y")%></td>
       <%end%>
     
     </tr>
    <% end %>
  </tbody>
</table>
</div>
<br>

<style>

.glyphicon-star {
    color: #FFF000;

}
</style>

<script type="text/javascript">

// $(document).ready(function() {
//   //alert(gon.star_check);
//   if (gon.star_check == 2)
//   { 
//    ('.glyphicon-star').css("color", "#FFF000");  
//   }
//  });



// jQuery(document).ready(function($){
//     $('.clickable').on("click", function(){
       
//         $(this).find('.glyphicon-star').css("color", "#FFF000");
//         // $(this).find('.glyphicon-star').attr("style",'color:#FFF000 !important;');
        

//     });
// });
// $(document).ready(function() {

// $('#selectall').click(function() {
//     $('input[name=sentmail]').prop('checked', true);
// });

// $('#selectall').click(function() {
//     $('input[name=sentmail').prop('checked', false);
// });
// });

$(document).ready(function() {
    $('#sentmailTable').dataTable( {
        initComplete : function() {
         $("#sentmailTable_filter").detach().appendTo('#new-search-area');
           },  
         "columnDefs": [
                        { "width": "5px", "targets": 0 },
                        { "width": "5px", "targets": 1 },
                        { "width": "150px", "targets": 2 },
                        { "width": "400px", "targets": 3 },
                        { "width": "50px", "targets": 4 },
                       
                ],
             
            "dom": '<"top"i>rt<"bottom"flp><"clear">',
           //  order: [[ 4, 'desc' ]]
           select: {
            style:    'os',
            selector: 'td:first-child'
        },
         "bSort" : false
       // order: [[ 4, 'desc' ]]
         } );
} );

// $(document).on('page:load', function(){
//   $(".starry").change(function(){

//       alert("hi......");
//     // var ptstatus=$('.star').attr('data-pt');
//     // $.getScript('/sentmails/star.js?pt=' + ptstatus)
//   });
// });

  
// $(".show").click(function(id){
//   alert("hi......");
//    var data=id;
//    alert(data);
//    console.log(data);
//    $.getScript('/sentmails/show.js?pt='+ JSON.stringify(id));
//   });





$(".delete_link").hide();
$(".starry").click(function() {

  //var captured_id=$(this).prop('value');    

      
    if($('.starry').is(":checked")) {
        $(".delete_link").show();

    } else {
        $(".delete_link").hide();
    }
});


$(".delete_link").click(function() {

var id_list = [];
$.each($("input[name='sentmail[]']:checked"), function(){            
  id_list.push($(this).val());

});
var x=confirm("Are you sure you want to delete?");
if (x)
       $.getScript('/sentmails/destroy_mail.js?pt='+ id_list);
     
  else
return false;
location.reload();
});

jQuery(function($) {
  //alert("hi....");
    $("td[data-link]").click(function() {
      
        window.location = $(this).data('link');    
    });
}); 





</script>