
<div style="position:relative;left:250px;top:-250px;width:1000px;background-color:##ECF0F1;	">
<div >
<p>
  <strong><%= @sentmails.sub %>	</strong>
  
</p>
<hr>
<p>
  <strong>To:</strong>
  <%= @sentmails.to %>
</p>

<hr>
<p>
  <%=raw @sentmails.body %>
</p>
</div>
<p>
  
<hr>
 <div id="sentmails_reply" style="background-color:#ECF0F1;position:absolute;width:1000px;">
    <p>
      click here to 
      <a href="javascript:void(0)" id="reply">Reply</a>or
      <a href="javascript:void(0)" id="forward">Forward</a>
    </p>
  </div>
<hr>
<script >
$("#reply").click(function(){
$("#sentmails_reply").html("<%= escape_javascript(render 'reply') %>");

$("#contacts_field").val(gon.to);
});

$("#forward").click(function(){
$("#sentmails_reply").html("<%= escape_javascript(render 'reply') %>");
$("#body").val(gon.body_text);
});

</script>
</script>