<div class="container" id="new-search-area" ></div>
<div class="container" style="position:relative;left:110px;top:-400px;background-color:#ECF0F1; ">

  <table id="sentmailTable" class="display nowrap" cellspacing="0" style="cursor:pointer;table-layout: fixed;">
  <thead>    
  <tr>
      
      <th><div><button class="delete_link">
      <i class="glyphicon glyphicon-trash"></i></button></div>
      </th> 
      <th></th>
      <th></th>
      <th></th>
      <th></th>
  </tr>
  </thead>  

<tbody>
<% @mails.each do |mail| %>
       <!-- <tr data-link="<%= sentmails_show_path("id" => mail.id) %>" > -->
<tr>
    
    <td id ="delete"><%= check_box_tag 'mail[]' , mail.id, false, class: 'starry' %></td> 
<!--  -->      
    <td>

    <% if mail.star_check==2 &&  mail.star_check==2  %>
      <i class="active clickable">
       <%=link_to sentmails_star_path("id" => mail.id), data: {  }, class: "btn btn-default btn-xs" do%>
          <i class="glyphicon glyphicon-star"></i>
       <% end %>
      </i>
    <% else %>

        <i class="active clickable">
         <%=link_to sentmails_star_path("id" => mail.id), data: {  }, class: "btn btn-default btn-xs" do%>
          <i class="glyphicon glyphicon-star-empty"></i>
       <% end %>
       </i>
    <% end %>
       </td>
<!--  -->

        <%if mail.methods.include? :from %> 
         <td style="overflow: hidden;">From:<%= mail.from %></td>
         <%else%>
         <td style="overflow: hidden;">to:<%= mail.to %></td>
         <%end%>
<!--  -->

        <%if mail.methods.include? :from %> 
           <td style="overflow: hidden;">
              <strong><%= mail.sub  %></strong>&nbsp;<%=  mail.parsed_plain_body %></td>
                <%else%>
             <td> <strong><%= mail.sub  %></strong>&nbsp;<%=  mail.body_text %>
            </td>
         <%end%>
 
<!--  -->
       <%if mail.methods.include? :from %>  
           <%if mail.created_at > Date.today %> 
           <td style="overflow: hidden;"><%= mail.date.in_time_zone.strftime("%I: %m %p") %></td>
           <%else%>
           <td style="overflow: hidden;"><%= mail.created_at.strftime("%e %b, %Y")%></td>
           <%end%>
      <%else%>
            <%if mail.created_at > Date.today %> 
           <td style="overflow: hidden;"><%= mail.created_at.in_time_zone.strftime("%I: %m %p") %></td>
           <%else%>
           <td style="overflow: hidden;"><%= mail.created_at.strftime("%e %b, %Y")%></td>
           <%end%>

       <%end%>
</tr>
<% end %>
</tbody>
</table>
</div>
<br>

<style>

.glyphicon-star {
    color: #FFF000;
}
</style>




<script type="text/javascript">
$(document).ready(function() {
    $('#sentmailTable').dataTable( {
        initComplete : function() {
         $("#sentmailTable_filter").detach().appendTo('#new-search-area');
           },  
         "columnDefs": [
                        { "width": "5px", "targets": 0 },
                        { "width": "5px", "targets": 1 },
                        { "width": "150px", "targets": 2 },
                        { "width": "400px", "targets": 3 },
                        { "width": "100px", "targets": 4 },
                       
                ],
           "bSort" : false
         } );
} );

$(".show").click(function(id){
  alert("hi......");
   var data=id;
   alert(data);
   console.log(data);
   $.getScript('/sentmails/show.js?pt='+ JSON.stringify(id));
  });

$(".delete_link").hide();
$(".starry").click(function() {
    if($(this).is(":checked")) {
        $(".delete_link").show();
    } else {
        $(".delete_link").hide();
    }
});

</script>