td.details-control {
    background: url('details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('details_close.png') no-repeat center center;
}

 #new-search-area {
    width: 100%;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    position:relative;
    left:200px;
    top:-470px;

}
#new-search-area input {
    width: 600px;
    font-size: 20px;
    padding: 5px;
     
}

#table_area_style{

position:relative;
left:110px;
top:-370px;
background-color:#ECF0F1;   
}

#receivemail_search-area input{
  width: 600px;
    font-size: 20px;
    padding: 5px;  
}
#receivemail_search-area {
    width: 100%;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    position:relative;
    left:200px;
    top:-470px;
}
#all_mail_search-area {
   width: 100%;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    position:relative;
    left:200px;
     top:-470px; 
}
#all_mail_search-area input{
  width: 600px;
    font-size: 20px;
    padding: 5px;  
}
#trash_mail_search-area{
  width: 100%;
    clear: both;
    padding-top: 20px;
    padding-bottom: 20px;
    position:relative;
    left:200px;
     top:-480px;  
}
#trash_mail_search-area input{
  width: 600px;
    font-size: 20px;
    padding: 5px;  
}

